<% provide(:title, 'All users') %>
<%= render '/shared/navbar' %>
<%= render '/shared/alerts' %>

<div class="page_title">
  <h1>All Users</h1>
</div>

<div class="container">
  <%= will_paginate %>
</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <% if current_user.admin? %>
          <th>Delete user</th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.firstname} #{user.lastname}", user %></td>
          <td><%= user.created_at %></td>
          <% if current_user.admin? && !current_user?(user) %>
            <td><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <%= will_paginate %>
</div>