<div class="slidemenu-slide">

  <!-- collapsed by default -->
  <nav class="navigation navigation-hidden">
    <div class="menu_links">
      <%= link_to wines_path, class: 'menu_links' do %>
          <%= content_tag(:span, "", class: "glyphicon glyphicon-list")%><span>MY LIST</span>
      <% end %>
      <%= link_to new_wine_path, class: 'menu_links' do %>
          <%= content_tag(:span, "", class: "glyphicon glyphicon-glass")%><span>ADD A WINE</span>
      <% end %>
    </div>
  </nav>

  <!-- full width by default -->
  <div class="content">
    <%= image_tag('logo.png', id: "title") %>
  </div>

</div>
