<div class="container">
  <div class="main_content">

    <div id="logo">
      <%= image_tag("logo.png") %>
    </div>

    <div id="tiles" class="row">

      <div class="col-lg-6 col-md-6">
        <%= link_to wines_path do %>
            <%= content_tag(:div, :id => "my_list_tile") do %>
                <%= content_tag(:span, "my list", :class => "tile_text") %><br>
                <%= content_tag(:span, "", :class => "glyphicon glyphicon-list") %>
            <% end %>
        <% end %>
      </div>

      <div class="col-lg-6 col-md-6">
        <%= link_to new_wine_path do %>
            <%= content_tag(:div, :id => "add_wine_tile") do %>
                <%= content_tag(:span, "add a wine", :class => "tile_text") %><br>
                <%= content_tag(:span, "", :class => "glyphicon glyphicon-glass") %>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>