<%= render '/shared/navbar' %>

<div class="page_title">
  <h1>Search for the new wine you wish to add</h1>
</div>

<div class="container">
  <%= form_tag 'find', method: 'post', :class => 'form-inline' do %>
      <div class="form-group">
        <%= label_tag :search_new, 'Search for a wine:', :class => 'control-label form_label' %>
        <%= text_field_tag :search_new, '', class: 'form-control form_field' %>
      </div>
      <div class="form-group">
        <%= submit_tag 'Search', class: 'btn btn-default' %>
      </div>
  <% end %>
</div>

<% if @list %>
    <div class="container">
      <h4>Select the wine you are searching for from the list below to save your wine journal entry.</h4>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Vintage</th>
          <th>Grapes</th>
          <th>Color</th>
        </tr>
        </thead>

        <tbody>
        <% @list.each do |wine| %>
            <tr>
              <td><%= link_to "#{wine["Name"]}", new_wine_path({
                                                                       :name => "#{wine["Name"]}",
                                                                       :vintage => "#{wine["Vintage"]}",
                                                                       :vineyard => "#{wine["Vineyard"]["Name"]}",
                                                                       :color => "#{wine["Varietal"]["WineType"]["Name"].partition(" ").first}",
                                                                       :grapes => "#{wine["Varietal"]["Name"]}",
                                                                       :country => "#{wine["Appellation"]["Region"]["Name"]}",
                                                                       :region => "#{wine["Appellation"]["Name"]}"
                                                               }) %></td>
              <td><%= wine["Vintage"] %></td>
              <td><%= wine["Varietal"]["Name"] %></td>
              <td><%= wine["Varietal"]["WineType"]["Name"] %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <% if @list.length == 0 %>
        <p>Sorry, we could not find any wine with from your search.  Please try again.</p>
      <% end %>
    </div>
<% end %>