<%= render 'navbar' %>

<p id="notice"><%= notice %></p>

<div class="page_title">
  <h1>My Wines</h1>
</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Rating</th>
      <th>Name</th>
      <th>Vintage</th>
      <th>Grapes</th>
      <th>Color</th>
    </tr>
    </thead>

    <tbody>
    <% sorted_wines = @wines.order(rating: :desc) %>
    <% sorted_wines.each do |wine| %>
        <tr>
          <td><%= wine.rating %></td>
          <td><%= link_to "#{wine.name}", wine %></td>
          <td><%= wine.vintage %></td>
          <td><%= wine.grapes %></td>
          <td><%= wine.color %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
