<%= render 'navbar' %>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <img src="http://placehold.it/150x150">
    </div>
    <div class="col-lg-9">
      <h1><%= @wine.name %></h1>
      <h2><%= @wine.vintage %> - <%= @wine.vineyard %> <span class="glyphicon glyphicon-glass" style="color: <%= @wine.color %>"></span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <ul class="list-group">
        <li class="list-group-item"><%= @wine.grapes %></li>
        <li class="list-group-item"><%= @wine.region %></li>
        <li class="list-group-item"><%= @wine.country %></li>
      </ul>
    </div>
    <div class="col-lg-6">
      <ul class="list-group">
        <li class="list-group-item">$<%= @wine.price %></li>
        <li class="list-group-item"><%= @wine.abv %>% abv</li>
        <li class="list-group-item"><%= @wine.date_drank %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group">
        <li class="list-group-item"><span class="showing_label">my notes:</span><br><%= @wine.notes %></li>
      </ul>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
