<%= render 'navbar' %>

<%= render 'notice' %>

<div class="container show_wine_page">
  <div class="row bottom_buffer">
    <div id="wine_image" class="col-md-3">
      <img src="http://placehold.it/180x180">
    </div>
    <div class="col-md-9">
      <h1>
        <%= @wine.name %>
        <%= link_to edit_wine_path(@wine), id: "edit_link", :title => "edit" do %>
          <span class="glyphicon glyphicon-pencil" style="font-size: 14px;"></span>
        <% end %>
      </h1>
      <h3><%= @wine.vineyard %></h3>
      <h3><%= @wine.vintage %></h3>
      <% if @wine.color == 'White' or @wine.color == 'white' %>
        <h3><span class="glyphicon glyphicon-glass" style="color: yellow;" title="white wine"></span></h3>
      <% elsif @wine.color == 'Red' or @wine.color == 'red' %>
        <h3><span class="glyphicon glyphicon-glass" style="color: red;" title="red wine"></span></h3>
      <% elsif @wine.color == 'Rose' or @wine.color == 'rose' %>
        <h3><span class="glyphicon glyphicon-glass" style="color: hotpink;" title="rose"></span></h3>
      <% end %>
    </div>
  </div>
  <div class="row normal_row">
    <div class="col-xs-6">
      <ul class="list-group">
        <li class="list-group-item"><%= @wine.rating %></li>
      </ul>
    </div>
  </div>
  <div class="row normal_row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><%= @wine.grapes %></li>
        <li class="list-group-item"><%= @wine.region %></li>
        <li class="list-group-item"><%= @wine.country %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">$<%= @wine.price %></li>
        <li class="list-group-item"><%= @wine.abv %>% abv</li>
        <li class="list-group-item"><%= @wine.date_drank %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li id="wine_notes" class="list-group-item"><span class="showing_label">my notes:</span><br><%= @wine.notes %></li>
      </ul>
    </div>
  </div>

  <%= link_to ('<span class="glyphicon glyphicon-trash delete_icon" title="delete this wine?"></span>').html_safe, @wine, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
